  head{
    margin: 0%;
    background:black;
}

body {
background: black;
margin: 12px;

}
header{
margin: 12px;
background: black;
}

body {
  background-color: #332929; /* Cor de fundo */
  color: #333333; /* Cor do texto */
}
h2 {
    font-size: 100px;
    color: black;

}

h1 {
    color: black;

    font-size: 100px;
    color: black;
}

h3{
    color: black;
    font-size: 100px;
}

html {

    background: black;


}
.categoria{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}
